<!DOCTYPE html>
<html lang="pt-br">
  <%-include('../partials/head')%>
  <body class="container" style="padding-top: 50px">
    <%-include('../partials/header')%>
    <main>
      <div class="m-3 p-5 bg-secondary text-white">
        <h1>Sobre mim</h1>
        <p>Sou Gustavo Borges</p>
      </div>
    </main>
    <%-include('../partials/footer')%>
  </body>
</html>
