<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../partials/head") %>
  <body class="container" style="padding-top: 50px">
    <%- include('../partials/header')%>
    <main>
      <div class="m-3 p-5 bg-secondary text-white">
        <h1>Node com EJS</h1>
        <p>Vamos aprender a trabalhar com arquivos EJS</p>
      </div>
    </main>
    <%-include('../partials/footer')%>
  </body>
</html>
